.calculator {
  padding: 20px;
  border-radius: 2em;
  height: 350px;
  width: 300px;
  margin: auto;
  background-color: #e684c4;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
body {
  background-color: var(--background);
  color: var(--font);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.screen {
  padding: 10px 20px;
  border: 2px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: gray;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  width: 90%;
}

.screen-last {
  min-height: 32px;
  font-size: 40px;
  width: 97%;
  border-color: transparent;
  text-align: right;
}

.screen-current {
  min-height: 64px;
  font-size: 20px;
  border-color: transparent;
  width: 97%;
  text-align: right;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
